{% include "header.html" %}
<title>Email Scanner</title>
</header>
<body>
    <form action="/scanemail" method="POST">
        <input type="text" id="inputtext" placeholder="Paste your email into here">
        <button type="submit" id="submitbutton">Scan</button>
    </form>
    <pre id="resultRep" style="white-space: pre-wrap; margin-top: 1rem;"></pre>

    <script>
        document.getElementById('submitbutton').addEventListener('click', async () => {
            event.preventDefault();
            const inputText = document.getElementById('inputtext').value;

            try {
                const response = await fetch('/scanemail', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ input_text: inputText})
                });

                if (!response.ok) {
                    throw new Error("1. Something went wrong1.");
                }

                const data = await response.json();
                document.getElementById('resultRep').textContent = data.report;
            } catch (error) {
                document.getElementById('resultRep').textContent = '2. Something went wrong2.';
                console.error(error);
            }
        });
    </script>
</body>
{% include "footer.html" %}
</html>