<footer class="bg-info text-light text-center py-3 mt-4">
    <div class="container">
        <p>&copy; 2025 Barcleys | All Rights Reserved</p>
        <p>
            <a href="https://www.barclays.co.uk/important-information/control-your-data/" class="text-light me-3">Privacy Policy</a>
            <a href="https://www.barclays.co.uk/ways-to-bank/mobile-banking-app/archive-terms-conditions/" class="text-light me-3">Terms of Service</a>
            <a href="https://www.barclays.co.uk/help/contact-us/" class="text-light">Contact Us</a>
            <a href="https://www.barclays.co.uk/" class="text-light">Barclays</a>
        </p>
        <p>
            <a href="https://www.facebook.com/BarclaysUK/?locale=en_GB" class="text-light me-2">
                <i class="bi">Facebook</i>
            </a>
            <a href="https://x.com/barclaysuk?lang=en" class="text-light me-2">
                <i class="bi">X (Twitter)</i>
            </a>
            <a href="https://www.instagram.com/barclaysuk/?hl=en" class="text-light">
                <i class="bi">Instagram</i>
            </a>
        </p>
    </div>
</footer>
