{% include "header.html" %}
<title>information</title>
</head>
<body>
    <h1>Take Five!</h1>
    <h2>What is this?</h2>
    <ul>
        <li>Stop: Take a moment to stop! Think carefully before parting with money, information or both.</li>
        <li>Challenge: Could it be too good to be true or fake? Only a criminal will rush or panic you.</li>
        <li>Protect: Don't bottle it up. Contact your bank if you think you've fallen for a scam. The sooner, the better.</li>
        <li> <a href="https://www.actionfraud.police.uk/">The Action Fraud UK Website</a> </li>
</body>
{% include "footer.html" %}
</html>